<!DOCTYPE html>
<html lang="en">
<head>
    <title>PPERisk-COU</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">

</head>

<header>
   <h1 style="text-align:center">PPE Risk Calculator</h1>
</header>
<h2 id="context-of-use-cou">Context of Use (COU)</h2>
<p>The PPE Risk Calculator is intended as a computational modelling tool that will allow manufacturers of PPE to evaluate material penetration relative to mechanical stressors and/or biological material exposure and determine thresholds for material effectiveness. The risk calculator will allow the user to enter material types, porosity, and several other material characteristics along with challenges and variable exposure periods - among several other parameters to assist sponsors and the public with better PPE testing.

Because the PPE Risk Calculator uses real data that follows current testing standards, the tool can potentially be used to:</p>
<ul>
<li>Reduce the time to assess PPE textile materials for their performance</li>
<li>Reduce the cost of assessment by removing testing entirely from the process.</li>
<li>Serve as supporting data for a more comprehensive material analysis</li>
</ul>
<p>In the absence of adequate PPE material characteristics analysis, a quick material analysis tool is valuable to the stakeholder's time and individual assessments.</p>
<ul>
<li>1</li>
<li>2</li>
<li>3</li>
<li>4</li>
<li>5</li>
<li>6</li>
<li>7</li>
<li>8</li>
<li>9</li>
<li>10</li>
<li>11</li>
</ul>
<p>blah blah blah</p>
<ol type="1">
<li>a</li>
<li>b</li>
<li>c</li>
<li>d</li>
</ol>
<p>blah blah blah</p>
<section id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p>a</p>
<ol type="A">
<li><p>1234</p></li>
<li><p>2345</p></li>
</ol>
<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn2"><p>Please see the <a href="README.html">instructions</a> for how to use the calculator<a href="#fnref2" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
</ol>
</section>