<!DOCTYPE html>
<html lang="en">
<head>
    <title>PPERisk-FAQ</title>
    <link rel="stylesheet" type= "text/css" href="/static/styles.css">
    <meta charset="UTF-8">
</head>

<header>
   <h1 style="text-align:center">PPE Risk Calculator</h1>
</header>
<h2 id="frequently-asked-questions">Frequently asked questions</h2>
<h3 id="what-is-the-primary-purpose-of-ppe-calculator">What is the primary
purpose of the PPE Risk Calculator?</h3>
<p>The PPE Risk Calculator is a rapid prediction tool that assists stakeholders with the regulatory assessment of PPE textile materials. It is a computational modelling tool that will allow manufacturers of PPE to evaluate material penetration relative to mechanical stressors and/or biological material exposure and determine thresholds for material effectiveness. The risk calculator will allow the user to enter material types, porosity, and several other material characteristics along with challenges and variable exposure periods - among several other parameters to assist sponsors and the public with better PPE testing. </p>
<h3 id="how-can-PPE-calculator-be-used-in-a-regulatory-context">How can the PPE Calculator be
used in a regulatory context?</h3>
<p>The Risk Calculator can be an option for stakeholders that want to determine material effectiveness without having to spend time and money on testing. The use of this calculator is not required in submissions, however, in regulatory scenarios where a quick risk assessment of a material is required, output from this calculator can be used in lieu of testing. If the output indicates a "pass", the material in question has a low chance of allowing penetration. If the output indicates a "fail", the material has a higher than favorable chance of allowing penetration. This calculator's output can be accompanied with other alternative approaches to provide a more comprehensive view of the material performance.</p>
<h3 id="does-ppe-calculator-address-material-characteristics">Does the PPE Risk Calculator address all of the material characteristics?</h3>
<p>No, we currently have data for porosity measurements (pore size, porosity, fiber size) and thickness based on previous experimental data. More characteristics will be added to the computational models when more data is available for analysis.</p>
<h3 id="how-are-the-risk-calculations-done">How are the risk
calculations done?</h3>
<p>The PPE Risk calculator uses computational linear modeling to determine the risk factor of input PPE textile material characteristics. The models are built on data from previous experimentations and accompanied in-house/collaborative experimentation using up to date standards for testing PPE textile materials.</p>
<h3
id="where-do-the-risk-calculator-values-come-from">Where
do the risk calculator values come from?</h3>
<p>The values used for input in the risk calculator come from SEM image analysis of the material in question. Because the data gathered and analysed to make this calculator was based on SEM imaging, it is vital that the users also do the same to ensure accurate results. </p>
<h3
id="How-are-the-pores-measured">How are the pores measured?</h3>
<p>The pores are measured using DiameterJ. SEM images are run through ImageJ, an NIH developed image analysis program, using the DiameterJ plugins. Through DiameterJ, SEM images are subject to segmentation by way of 16 default algorithms and turned into sets of binary images representing the types of algorithms used. The plugin is then used again to analyze these binary images for fiber and pore characteristics which are organized, combined, and statistically analyzed to extract average fiber diameter, average pore size, and porosity of the original SEM image.</p>
<h3
id="what-if-i-have-suggestions-for-inclusion-of-additional-cas-or-polymer-matrices-within-chris-or-changes-to-the-user-interface">What
if I have suggestions for inclusion of additional material characteristics within the PPE Risk Calculator or changes to the user interface?</h3>
<p>If you have a suggestion to expand the applicability of the tool or
improve the user interface, please contact Andrew Martin: <a
href="mailto:andrew.martin@fda.hhs.gov"
class="email">andrew.martin@fda.hhs.gov</a>.</p>