<!DOCTYPE html>
<html lang="en">
<head>
    <title>PPERisk-FAQ</title>
    <link rel="stylesheet" type= "text/css" href="/static/styles.css">
    <meta charset="UTF-8">
</head>

<header>
   <h1 style="text-align:center">PPE Risk Calculator</h1>
</header>
<h2>Frequently asked questions</h2>
<h3>What is the primary
purpose of the PPE Risk Calculator?</h3>
<p>The PPE Risk Calculator is a conservative predictive tool that assists stakeholders with the regulatory assessment of PPE textile materials. It is a computational modelling tool that will allow manufacturers of PPE to evaluate bacterial penetration of viable particles. The risk calculator will allow the user to enter mean fiber diameter, mean packing density, and mean thickness, as well as their standard deviations, to assist sponsors and the public with better PPE testing. </p>
<h3>How can the PPE Calculator be
used in a regulatory context?</h3>
<p>The Risk Calculator can be an option for stakeholders that want to determine material effectiveness without having to spend time and money on testing. The use of this calculator is not required in submissions, however, in regulatory scenarios where a quick risk assessment of a material is required, this calculator can provide supporting evidence. This calculator's output can be accompanied with other alternative approaches to provide a more comprehensive view of the material performance.</p>
<h3>Does the PPE Risk Calculator address all of the material characteristics?</h3>
<p>No, this calculator on takes into consideration fiber diameter, packing density, and thickness. Other parameters that may affect PPE performance are not included as input.</p>
<h3>How is fiber diameter measured?</h3>
<p>We suggest measuring fiber diameter using SEM imaging, Fiji/ImageJ, and DiameterJ. Details on how this is done can be found in the Context of Use</p>
<h3
<h3>How is packing density measured?</h3>
<p>Packing density can be measured by measuring and cutting a square swatch of material, separate the layers, and weigh the mass in grams of the desired layer. With this grammage (g/m^2), you can divide by the product of the density of the fiber material (g/m^3) and the thickness of the material (m).</p>
<h3>How is thickness measured?</h3>
<p>Thickness can be measured using calipers, fabric thickness testing machines, or carefully taken cross-sectional SEM images that are analyzed using Fiji/ImageJ.</p>
<h3>I have fiber diameter measurements using methods other than SEM and DiameterJ, can I use them in the calculator?</h3>
<p>Yes, you may use those measurements; the equations used are physics-based. However, for an accurate comparison of log10 reduction values to the reference n95, we advise using SEM. Please see the Context of Use to view the limitations if this tool.</p>
<h3>The graph shows green/red violin plots, what does it mean?</h3>
<p>The output per stage of the monte carlo simulation using the users input is subject to a one-tailed T-test to determine if the mean is significantly less than our reference n95 output per stage. If it is significantly less (p<0.05), then the plot is red, else if the output is not siginificantly less than the reference, the plot is green.</p>
<h3>My violin plot looks almost identical to the reference but is red, how?</h3>
<p>The T-test takes into consideration 10,000 samples of each, therefore producing a very small margin of error.</p>
<h3>What if I have suggestions for inclusion of additional material characteristics within the PPE Risk Calculator or changes to the user interface?</h3>
<p>If you have a suggestion to expand the applicability of the tool or
improve the user interface, please contact Dr. Enusha Karunasena: <a
href="mailto:Enusha.karunasena@fda.hhs.gov"
class="email">Enusha.karunasena@fda.hhs.gov</a>.</p>
<a href='javascript:history.back()'>Back</a>
