<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPERISK</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/table.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <link rel= "stylesheet" type= "text/css" href= "/static/css/styles.css">

</head>

<header>
  <h1 style="text-align:center">PPE Risk Calculator: Gown Performance</h1>
</header>

<p> For details on how to use the PPE Risk Calculators, please click the information icons next to each section header and read the
  <a href="/PPERisk/COU"> Context of Use (CoU)</a>, which includes limitations of use. Answers to frequently asked questions can be
  found <a href="/PPERisk/FAQ"> here</a>. For a history of updates, please see the <a href="/PPERisk/Changelog"> changelog</a>. </p>

<body>

<form method="POST">

<h3> Material Characteristics <button type="button" class="Info_btn" data-toggle="modal" data-target="#CharModal" >&#9432;</button> </h3>

Mean Pore Size (µm): <input name="mfp" id="mfp" value="1.0" step="any" min="0.01" type="number" required> <br>

Thickness (µm): <input name="thick" id="thick" value="0.1" step="any" min="0.01" type="number" required> <br>

Weight (g/m^2): <input name="weight" id="weight" value="1.0" step="any" min="0.1" type="number" required> <br>

Air Permeability (cfm/sf): <input name="air" id="air" value="0.1" step="any" min="0" type="number" required> <br>

Challenge Fluid:
  <input type="radio" name="fluid" id="Dist" value="Distilled water" checked > Dist
  <input type="radio" name="fluid" id="Syn" value="Synthetic blood" > Syn
  <input type="radio" name="fluid" id="SBF" value="Simulated Body Fluid" > SBF
<!-- Modal -->
<div id="CharModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Material Characteristics</h4>
      </div>
      <div class="modal-body">
        <p><em>Mean Pore Size</em> - Please enter the mean pore size for your material fabric in microns (µm). If the measurement is not in microns, please convert your input into microns prior to using the calculator.</p>
        <p><em>Thickness</em> - Enter the thickness of your material fabric in microns (µm).</p>
        <p><em>Weight</em> - Enter the weight of your material fabric in grams per square meter (g/m^2).</p>
        <p><em>Air Permeability</em> - Enter the air permeability of your material fabric in cubic feet of air per minute that passes through a square foot of fabric (cfm/sf).</p>

        <p><em>*Coming Soon*</em><br>
        <em>Stress</em><br>
        <em>Fiber Thickness</em><br>
        <em>Soil Exposure</em></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Decontamination input section -->

<h3> Decontamination <button type=button class="Info_btn" data-toggle="modal" data-target="#DeconModal">&#9432;</button> </h3>

  Method:
  <input type="radio" name="method" id="Untreated" value="untreated" checked > untreated
  <input type="radio" name="method" id="VHP" value="vhp" > vhp
  <input type="radio" name="method" id="Ozone" value="ozone" > ozone <br>
  Runs:
  <input name="runs" id="runs" step="1" value="0" min="0" max="7" type="number" required><br>
  Microbial Target:
  <input type="radio" name="microbial" id="Saureus" value="saureus" checked > saureus
  <input type="radio" name="microbial" id="Ecoli" value="ecoli" > ecoli
  <input type="radio" name="microbial" id="Phix174" value="phix174" > phix174


<!-- Modal -->
<div id="DeconModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Device characteristics</h4>
      </div>
      <div class="modal-body">
        <p><em>Method</em> - Select the decontamination used - if no decontamination was used, please select "Untreated." Each method of decontamination can be found <a href="PLACEMENT">here</a></p>
        <p><em>Runs</em> - The number of decontamination runs on the PPE material. If no runs were made, please select Untreated or enter "0"</p>
        <p><em>Microbial Target</em> - Selection of the microbe determines the final output of the calculator as each microbe has different properties and therefore are filtered at different efficiencies</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Assumptions input section -->

  <h3> Assumptions <button type=button class="Info_btn" data-toggle="modal" data-target="#AssumeModal">&#9432;</button> </h3>
  Check all statements below that are applicable to your PPE Material analysis:<br><br>
  <input type="checkbox" id="assume1" name="assume1" > SEM imaging was used to take pictures of the filter layer with enough magnification to see pores <br>
  <input type="checkbox" id="assume2" name="assume2" > SEM image analysis was conducted using Fiji 1.51w <br>
  <input type="checkbox" id="assume3" name="assume3" > DiameterJ Segment and DiameterJ 1-018 were used for segmentation and pore size analysis, respectively. <br>
  <input type="checkbox" id="assume4" name="assume4" > Thickness was measured according to ASTM D5729-97 <br>


  <!-- Modal -->
<div id="AssumeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assumptions</h4>
      </div>
      <div class="modal-body">
        <p>:</p>
        <p><em>SEM Imaging - </em>  In order to obtain the pore sizes we used in the calculator, SEM imaging of the filter layer with a magnification between 1.4kx and 1.5kx were taken and subject to analysis using Fiji and the DiamaterJ plugin </p>
        <p><em>Fiji 1.51w - </em> Fiji is a version of ImageJ - an NIH developed image processing program - and to maintain accuracy and reproducibility, please use the version of Fiji (1.51w) that was used to analyze SEM images of the PPE material</p>
        <p><em>DiameterJ - </em> DiameterJ is a plugin that is used through Fiji and ImageJ. DiameterJ can be split into two plugins - DiameterJ Segment and DiameterJ 1-018. DiameterJ Segment turns SEM images into Binary black/white imaging according to specific algorithms. DiameterJ 1-018 is used to measure pore sizes and fiber characteristics using the output from DiameterJ Segment </p>
        <p><em>ASTM Standards - </em> Several standards were followed in order to create reproducibility and replicability </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<h3> PPE Risk assessment </h3>
Click to screen your PPE Gown material: <button type="submit" name="submit_button">Estimate Risk</button>

</form>

<br/>
<!--<p>gown penetration prediction: {{result}}%</p> -->
<p>challenge liquid contact angle: {{CA}}</p>

<!-- <p id="TestingOutput"> </p> -->



</body>
</html>