<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPE Calculators</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

    <link rel= "stylesheet" type= "text/css" href= "/static/css/styles.css">

</head>

<!--
<img src="/static/images/FDAlogo.png" style="float: left;" height="100"/>
<img src="/static/images/FDAgraphic.png" style="float: right;"  height="100"/>
<br clear="all" />
-->

<header>
  <h1 style="text-align:center">PPE Risk Calculator: Respirator Performance</h1>
</header>

<body>

<p>
The PPE Risk Calculator is a tool using a computationally-based model to conservatively estimate PPE performance. Overall filtration efficiency as well as log10 reduction per particle size range is calculated using material characterstics of polypropylene-based respirators and masks.


<h2> Modules </h2>

&#x2022; <a href="/PPERisk/Masks"> Respirator Performance Risk Calculator </a>

<p>
A tool to conduct screening level risk assessment of surgical respirators and surgical masks to aid in the performance evaluation of
textile materials used in the construction of surgical respirators and surgical masks. These assessments can assist PPE manufacturers by providing
instantaneous feedback on whether their textile materials would require additional justification and/or testing to demonstrate acceptable performance.
</p>

</body>
</html>